@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@font-face {
  font-family: 'Elena';
  src: URL('Elena-PersonalUse.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Imbue&display=swap');

html, body {
  background-color: #0A0B0D;
  height: 100%;
}

.mainpart-background {
  position: absolute;
  width: 100%;
  height: 90%;
  background-image: url('../img/Vector.svg');
  background-size: cover;
  opacity: 1;
  animation: fade-out 1s linear forwards;
}


@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.max-height-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

.columns {
  display: flex;
}

h1 {
  margin-top: 3em;
  font-family: 'Imbue', serif;
  color: white !important;
  font-size: 72px !important;
  font-weight: 400 !important;
}

h2,
p {
  color: white !important;
  font-family: 'Merriweather', serif;
}

.columns.is-vcentered {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  /* used this for multiple child */
}



.subtitle {
  margin-top: 1.25em !important;
  font-size: 28px;
}

/* CSS */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
  color: white !important;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64 a {
  color: white;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

.button-64 {
  text-align: center;
  opacity: 0;
  animation: fadeIn 1.5s ease-in both;
  animation-delay: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}